{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Login to Spotify</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <a href="https://accounts.spotify.com/authorize/?client_id={{SPOTIFY_ID}}&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fauth&scope=playlist-modify-public%20playlist-modify-private%20user-modify-playback-state" class="btn btn-default spotify-green">Log into Spotify</a>
        </div>
    </div>

</div>
