{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<nav class="navbar navbar-fixed-top">
    <a class="navbar-brand" href="/">Pollr</a>
    <ul class="navbar-nav">
        {% if logged_in %}
        <li class="nav-item">
            <span class="navbar-text">Your ID: {{user}}</span>
        </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right pr-15">
        {% if logged_in %}
        <li class="nav-item">
            <a class="btn btn-danger auth-btn" href="/polls/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="btn btn-success auth-btn" href="/polls/login">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>
