{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>

<form action="/poll/search-results" method="post">
    Song name:<br>
    <input type="text" name="songName" value="Fuckboi">
    <br>
    Artist name:<br>
    <input type="text" name="artistName" value="AJJ">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>