<h3 id="results">
   <!-- song_option_1: 0
    song_option_2: 0
    song_option_3: 0
    song_option_4: 0
    song_option_5: 0
   -->
  </h3>
  <button type="button" id="song_option_1-button">Click to vote for song_option_1</button>
  <button type="button" id="song_option_2-button">Click to vote for song_option_2</button>
  <button type="button" id="song_option_3-button">Click to vote for song_option_3</button>
  <button type="button" id="song_option_4-button">Click to vote for song_option_4</button>
  <button type="button" id="song_option_5-button">Click to vote for song_option_5</button>
